.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-man{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.languages{
    margin-top: 0;
    width: 100%;
}
.nav-container{
    width: 60%;
    margin: 10px;
}

@media (max-width: 600px){
    .nav-container{
        width: auto;
    }
}
