.erro-message{
    color: red;
    font-weight: bolder;
    font-size: 12px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333333;
    background-color: #f2f2f3;
    border: none;
    border-radius: 8px;
    padding: 10px;
}
.container h1{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.container label{
    font-weight:400;
}
.botao-form{
    width: 100%;
    background-color: #000830;
   

}
.botao-form button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}
.botao-form button:hover{
    background-color: #fca32f ;
    transition: 0.4s;
    border-radius: 0;
    width: 100%;
}